//General colours
$light-green: #bbc398;
$light-yellow: #e7bc69 ;
$light-grey: #555250;


// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
